@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --background-secondary: #EEEEEE;
  --text-primary: #1A237E;
  --text-secondary: #757575;

  --brand-blue: #1A237E;
  --action-button-blue: #3F51B5;

  --accent-terracotta: #E57373;
  --accent-sand: #FFD54F;

  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-brand-blue: var(--brand-blue);
  --color-action-button-blue: var(--action-button-blue);

  --color-accent-terracotta: var(--accent-terracotta);
  --color-accent-sand: var(--accent-sand);

  --color-foreground: var(--foreground);

  --font-roboto: var(--font-roboto);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}